.nav{
grid-area: n;
background-color: aquamarine;
padding:20px;
border-radius: 3%;
text-align: center;
}
.item{
   padding: 5px;
}
.item a{
   padding: 2px;
   border-radius: 5%;
   text-decoration: none;
   color:white;
}
.item .activeLink{
   color:black;
   background-color: brown;
}
.item a:hover{
   border-radius: 5%;
   background-color: brown;
}
.friends{
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   grid-template-rows: 2fr 2fr;
   grid-template-areas:
   "a a a"
   "b c d";
   grid-gap:2px ;
}
.item0{
   grid-area: a;
}
.item1{
   grid-area:b;
}
.item2{
   grid-area:c;
}
.item3{
   grid-area:d; 
}