.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "h h "
    "n c ";
  grid-gap: 3px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 2%;

}