.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}
.dialogItem{
page-break-after: 10px;
color: white;
}
.activeLink{
color:blue;
}
.dialog.active{
   color: gold;
}
img{
   width: 30px;
   border-radius: 50%;
}